README.md filter=lfs diff=lfs merge=lfs -text
requirements.txt filter=lfs diff=lfs merge=lfs -text
savedmodels_configs filter=lfs diff=lfs merge=lfs -text
deployed_model filter=lfs diff=lfs merge=lfs -text
gifs filter=lfs diff=lfs merge=lfs -text
. filter=lfs diff=lfs merge=lfs -text
deployed_model/best.pt filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/ssd_model filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/yolo_model filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/classification_model filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/yolo_model/events.out.tfevents.1633169741.nvidia-quadro-vws-ubuntu-18-1-vm.23741.0 filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/yolo_model/results.png filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/yolo_model/test_batch0_pred.jpg filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/yolo_model/test_batch2_labels.jpg filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/yolo_model/train_batch0.jpg filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/yolo_model/weights filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/yolo_model/test_batch2_pred.jpg filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/yolo_model/train_batch1.jpg filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/yolo_model/confusion_matrix.png filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/yolo_model/hyp.yaml filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/yolo_model/precision_recall_curve.png filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/yolo_model/results.txt filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/yolo_model/test_batch0_labels.jpg filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/yolo_model/test_batch1_labels.jpg filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/yolo_model/labels_correlogram.jpg filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/yolo_model/test_batch1_pred.jpg filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/yolo_model/labels.jpg filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/yolo_model/opt.yaml filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/yolo_model/train_batch2.jpg filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/yolo_model/weights/best.pt filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/yolo_model/weights/last.pt filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/ssd_model/checkpoint filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/ssd_model/eval filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/ssd_model/graphs filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/ssd_model/pipeline.config filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/ssd_model/saved_model filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/ssd_model/checkpoint/checkpoint filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/ssd_model/checkpoint/ckpt-0.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/ssd_model/checkpoint/ckpt-0.index filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/ssd_model/saved_model/assets filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/ssd_model/saved_model/saved_model.pb filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/ssd_model/saved_model/variables filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/ssd_model/saved_model/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
savedmodels_configs/ssd_model/saved_model/variables/variables.index filter=lfs diff=lfs merge=lfs -text
